<template>
 <main>
   <div class="a-spacing-large"></div>
   <div class="container-fluid browsing-history">
     <div class="row">
       <div class="col-sm-8 col-8">
         <h1 class="a-size-large a-spacing-none a-text-normal">All Products</h1>
           <div class="a-spacing-large"></div>
           <!-- Buttons -->
         <a href="#" class="a-button-buy-again">Add New Product</a>
          <a href="#" class="a-button-history margin-right-10">Add New Category</a>
           <a href="#" class="a-button-history margin-right-10">Add New Owner</a>

          
       </div>
     </div>
   </div>
  
  <!-- Listing Page --> 
  <div class="a-spacing-large"></div>
  <div class="a-spacing-large"></div>
   <div class="container-fluid browsing-history">
    <div class="row">
      <div 
      v-for="(product, index) in products" 
      :key="product._id" 
      class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6 br bb">
        <div class="history-box">
          <!-- Product Image -->
          <a href="#" class="a-link-normal">
            <img :src="product.photo" class="img-fluid"> 
          </a>
          <!-- Product Title -->
          <div class="a-spacing-top-base asin-title">
            <span class="a-text-normal">
              <div class="p13n-sc-truncated">{{ product.title }}</div>
            </span>
          </div>
          <!-- Product Rating -->
          <div class="a-row">
            <a href="#" >
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </a>
            <span class="a-letter-space"></span>
              <span class="a-color-tertiary a-size-small asin-reviews">(2000)</span>
              <span class="a-letter-space"></span>
          </div>
          <!-- Product Price -->
          <div class="a-row">
          <span class="a-size-base a-color-price"></span>
          <span class="p13n-sc-price">Rs. {{product.price}}</span>
          </div>
          <!-- Product Buttons -->
          <div class="a-spacing-large"></div>
          <div class="a-row">
            <a href="#" class="a-button-history margin-right-10">Update</a>
            <a href="#" class="a-button-history margin-right-10">Delete</a>
          </div>
        </div>
      </div>
    </div>
     
   </div>
   
 </main>
</template>

<script>
export default {

  // asyncData is fetching data before nuxt page finish loading on the browser.
  // it is good for SEO because the data will be loaded first
  async asyncData({ $axios }) {
    try {
      let response = await $axios.$get("http://localhost:8000/api/products");
      console.log(response)
      return {
        products: response.product
      }
    } catch (err) {
      
    }
  }
}
</script>

<style>

</style>
